<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../../templates/header.ejs') %>

<head>
  <meta name="description" content="Get all your course materials and quiz / assignments here.">
  <meta name="keywords" content="Unilib MBK Tech Studio, Open-Source, Course Materials, Assignments, Quiz">
  <title>Uni Books Home Page</title>
</head>


<style>
  .section-separator {
    margin-top: 40px;
    border-top: 2px solid #ccc;
  }

  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .linked,
  .linked:hover,
  .linked:visited,
  .linked h3 {
    text-decoration: none;
    color: #fff;
  }

  #info {
    width: 90%;
    margin: 0 auto;
  }

  .section-separator1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #ccc;
  }

  .notification.is-info {
    margin: 10px 0;
    background-color: #fff8e1;
    border: 1px solid #ffe082;
    color: #8a6d3b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #377a77;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .about {
    height: auto !important;
  }
</style>

<!-- Ask For Cookie Consent-->
<div id="cookie"></div>

<body>
  <div class="scroll-button">
    <a href="#about"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!--
    <section class="hero">
        <div class="content">
            <div class="title">Welcome to Uni Books</div>
            <div class="description">Get all your course materials and assignments here</div>
        </div>
    </section>
-->

  <section class="about" id="about">
    <div class="content">
      <div class="not"></div>
      <div class="title section-title"><span>Uni Course Materials</span></div>
      <div class="select-dropdown">
        <select id="categoryFilter" name="topics">
          <option value="all">All</option>
          <option value="CourseBooks">Course Books</option>
          <option value="LabManuals">Lab Manuals</option>
          <option value="CompletedAssigments">Assigments</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="search-bar">
        <input type="text" id="searchProduct" placeholder="Search Book Name...">
        <div class="submit"><button type="submit"><i class="fas fa-search"></i></button></div>
        <button type="button" id="clearSearch" class="clear-btn"><i class="fas fa-times"></i></button>
      </div>
      <div id="spinner" class="spinner" style="display: block;"></div>

      <div class="products">
      </div>

    </div>
  </section>

  <!-- Separator for visual distinction -->
  <div class="section-separator"></div>

  <section class="about" id="assignments" style="padding-top: 0px;">
    <div class="content" style="margin: 30px 0;">
      <h1 class="section-title">Assignments & Quiz</h1>
      <div id="detailsContainer" class="details-container">
        <div id="spinner" class="spinner" style="display: none;"></div>

        <!-- Assigments And Quiz will be dynamically inserted here -->
      </div>
      <div id="noAss">
        <div class="details" style="min-width: 100%; width: 100%;">
          <div class="assignment-info">
            <span>
              <strong style="text-align: center; display: block;">No Current Active Assigments or
                Quiz</strong>
            </span>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="button">
          <a class="buttons" id="toggleButton">Show More</a>
        </div>
        <a class="links" style="font-weight: bold;" href="history/" target="_blank">See Assignments & Quizes
          History</a>
      </div>
    </div>
  </section>

  <div class="section-separator1"></div>
  <style>
    #info {
      padding-top: 0px;
    }
  </style>
  <section id="info">
    <div class="button" style="display: flex; justify-content: center; flex-wrap: wrap; gap:5px;">
      <a class="buttons" class="button is-primary" onclick="openSupport('requestbook')">Request To Add
        Book</a>
      <a class="buttons" onclick="openAdminPanel()">Admin Panel</a>
      <a class="buttons" class="button is-info" onclick="openSupport('requestquizass')">Request To Add
        Assignments or Quiz</a>
    </div>
    <div class="notification is-info">
      <p>
        The <strong>Unilib Project</strong> is open-source, and we welcome contributions! You can explore
        and contribute on our <a class="links" href="https://github.com/MIbnEKhalid/Unilib.MIbnEKhalid.github.io/" target="_blank">Project</a>.
      </p>
    </div>
    <div class="notification is-info">
      <p>
        We are also developing an Android version. Contributions are welcome, and we'll announce its
        completion here. Visit the <a class="links" href="https://github.com/MIbnEKhalid/UnilibUnity" target="_blank">GitHub repository</a> to explore and contribute.
      </p>
    </div>
  </section>

  <%- include('../../templates/footer.ejs') %>


  <script src="/Assets/unilib.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const categoryFilter = document.getElementById('categoryFilter');
      // Always trigger filtering based on the current dropdown value
      filterProducts();
      const searchInput = document.getElementById('searchProduct');
      const clearBtn = document.getElementById('clearSearch');
      // Show clear button when there is input
      searchInput.addEventListener('input', function() {
        if (this.value.length > 0) {
          clearBtn.style.display = 'block';
        } else {
          clearBtn.style.display = 'none';
        }
      });
      // Clear input when clear button is clicked
      clearBtn.addEventListener('click', function() {
        searchInput.value = '';
        clearBtn.style.display = 'none';
        filterProducts(); // Optionally trigger the filter function to show all products again
      });
    });

    function openSupport(id) {
      window.open(`https://www.mbktechstudio.com/Support/#${id}`, '_blank');
    }

    function openAdminPanel() {
      window.open(`https://portal.mbktechstudio.com/dashboard/Unilib`, '_blank');
    }
  </script>
  <script>
    // JavaScript to handle collapse/expand functionality
    const detailsContainer = document.getElementById('detailsContainer');
    const toggleButton = document.getElementById('toggleButton');
    toggleButton.addEventListener('click', function() {
      // Toggle the expanded class
      detailsContainer.classList.toggle('expanded');

      // Update the button text based on the state
      if (detailsContainer.classList.contains('expanded')) {
        toggleButton.textContent = 'Show Less';
      } else {
        toggleButton.textContent = 'Show More';
      }
    });

    document.addEventListener('DOMContentLoaded', function() {
      const headerHeight = document.querySelector('header').offsetHeight;

      document.querySelectorAll('nav .menu li a').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
          e.preventDefault();
          const targetId = this.getAttribute('href').substring(1);
          const targetElement = document.getElementById(targetId);

          if (targetElement) {
            const targetPosition = targetElement.offsetTop - headerHeight - 70; // Adjust 10px as needed
            window.scrollTo({
              top: targetPosition,
              behavior: 'smooth'
            });
          }
        });
      });
    });
  </script>

</body>

</html>