<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> header homePath="/"}}

<head>
  <meta name="description" content="Unilib MBK Tech Studio, Historical Assignments, Archived Quizzes">
  <meta name="keywords" content="Unilib MBK Tech Studio, Historical Assignments, Archived Quizzes">
  <title>Assigments & Quizes History Page</title>
</head>
<!-- Ask For Cookie Consent-->
<div id="cookie"></div>

<style>
  .details {
    margin-bottom: 15px;
  }

  .about {
    height: auto !important;
  }

  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #377a77;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>


<body>
  <div class="scroll-button">
    <a href="#about"><i class="fas fa-arrow-up"></i></a>
  </div>
  <section class="about" id="about">
    <div class="content">
      <div class="not"></div>
      <div class="title section-title"><span>Assigments & Quizes History</span></div>
      <div id="spinner" class="spinner" style="display: block;"></div>
      <div id="detailsContainer" class=" ">
        <!-- Assigments And Quiz will be dynamically inserted here -->
      </div>      

    </div>
  </section>

    {{> footer }}

  <script>
    const spinner = document.getElementById('spinner');

    fetch('https://api.mbktechstudio.com/api/Unilib/QuizAss') // Fetch the JSON file
      .then(response => response.json()) // Fetch the JSON data
      .then(data => {
        const detailsContainer = document.getElementById('detailsContainer');
        detailsContainer.innerHTML = ''; // Clear any existing content 

        data.forEach(item => {
          const detailsDiv = document.createElement('div');
          detailsDiv.classList.add('details');
          detailsDiv.id = `${item.id}`;
          detailsDiv.style.minWidth = '100%';
          detailsDiv.style.width = '100%';

          detailsDiv.innerHTML = `
              <div class="date-box">
                <span id="issueDate">${item.issueDate}</span>
                <span id="dueDate">${item.dueDate}</span>
              </div>
              <div class="assignment-info">
                <span><strong>${item.subject}:</strong> ${item.description} </span>
              </div>
            `;
          detailsContainer.appendChild(detailsDiv);
        });
        spinner.style.display = 'none';
      })
      .catch(error => console.error('Error fetching data:', error));

</script>
</body>

</html>