<!-- Footer For Index Page or Landing Page index.njk  -->
<footer>
  <div class="text">
    <span>Developed By
      <a href="https://github.com/MIbnEKhalid">Muhammad Bin Khalid</a>
      | ©
      <span id="year"></span>
      All Rights Reserved
      |
      <a href="/Terms&Conditions" target="_blank">Terms &amp; Conditions</a>
      |
      <a href="/FAQs" target="_blank">FAQs</a>
      |
      <a href="/Support/" target="_blank">Support &amp; Contact</a>
    </span>
    <script>
      document.getElementById('year').textContent = new Date().getFullYear();
    </script>
  </div>
</footer>
<script src="/Assets/Scripts/header.js"></script>