<!-- Footer For Support Page or Landing Page index.njk  -->
<footer>
  <div class="text">
    <span>
      ©
      <span id="year"></span>
      <a href="/" target="_blank">MBK Tech Studio</a>. All
      Rights Reserved |
      <a href="/Terms&Conditions" target="_blank">Terms &amp; Conditions</a>
      |
      <a href="/FAQs" target="_blank">FAQs</a>
      |
      <a href="mailto:support@mbktechstudio.com" title="support@mbktechstudio.com">support@mbktechstudio.com</a>
      <script>
        document.getElementById('year').textContent = new Date().getFullYear();
      </script>
    </span>
  </div>
</footer>
<script src="/Assets/Scripts/header.js"></script>