<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> header homePath="/"}}

<head>
  <meta charset="UTF-8" />
  <title>Download MBK Tech Studio App</title>
</head>

<style>
  .card {
    max-width: 350px;
    width: 100%;
    background: #242424;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .card img {
    width: auto;
    height: 200px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-content {
    padding: 1.5rem;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #edf2f7;
    margin-bottom: 0.5rem;
  }

  .card-description {
    font-size: 0.875rem;
    color: #a0aec0;
    margin-bottom: 1rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .file-size,
  .file-version,
  .os-type {
    font-size: 0.875rem;
    color: #718096;
  }

  .download-btn {
    padding: 0.5rem 1rem;
    background-color: #4299e1;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
  }

  .download-btn:hover {
    background-color: #3182ce;
  }

  .about {
    height: auto;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #e2e8f0;
  }
</style>

<body>
  <div class="scroll-button">
    <a href="#about"><i class="fas fa-arrow-up"></i></a>
  </div>
  <section class="about" id="about">
    <div class="content">

      <div class="title">
        <span>Download Apps</span>
      </div>

      <div class="card-container">
        <div class="card">
          <img src="https://code.visualstudio.com/assets/images/linux-logo.png" alt="File preview">
          <div class="card-content">
            <h2 class="card-title">MBK Tech Studio App</h2>
            <p class="card-description">A simple app that uses a web view to display Website content.</p>
            <div class="card-footer">
              <span class="file-version">Version: {{mainAppLink.VersionNumber}}</span>
              <span class="file-size">Size: 4.2 MB</span>
            </div>
            <div class="button" style="text-align: center;">
              <a class="buttons" href="{{mainAppLink.Url}}" download class="download-btn">Download APK</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  {{> footer }}

</body>

</html>