<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../../templates/header.ejs') %>
<head>
  <meta charset="UTF-8" />
  <title>Download MBK Tech Studio App</title>
</head>
<style>
  .about {
    height: auto;
  }

  .nmessage {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .download-g {
    display: block;
  }

  section .button {
    margin: 5px 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  section .button button {
    outline: none;
    padding: 6px 22px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    background: #377a77;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  section .button button img.download-icon {
    margin-bottom: 4px;
  }

  section .button button small {
    font-size: 12px;
    color: #fff;
    transition: all 0.4s ease;
  }

  section .button button:hover {
    border-color: #377a77;
    background-color: transparent;
    color: #377a77;
    transition: all 0.4s ease;
  }

  section .button button:hover small {
    color: #377a77;
  }

  section .download-g .logo {
    height: 100px;
    width: 100px;
    background-size: contain !important;
    margin: 16px auto;
    -ms-high-contrast-adjust: none;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .products:hover> :not(:hover) {
    opacity: 1;
  }
</style>
<div id="cookie"></div>

<body>
  <div class="scroll-button">
    <a href="#about"><i class="fas fa-arrow-up"></i></a>
  </div>
  <section class="about" id="about">
    <div class="content">
        <br>
      <h1 style="color:#f0f8ff ;text-align: center;">Download MBK Tech Studio Portal App</h1>
      <div class="products">
        <div class="download-g">
          <img class="logo" src="https://code.visualstudio.com/assets/images/linux-logo.png">
          <div class="button">
            <button onclick="DownloadLink()" style="max-width: 250px;" class="button" id="submit-button">
              <img class="download-icon" src="https://code.visualstudio.com/assets/icons/download.svg" width="18px" height="18px" alt="Download VS Code">
              <span>.apk</span>
              <small id="last-update"></small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    async function fetchLastUpdate() {
      try {
        const response = await fetch('https://api.github.com/repos/MIbnEKhalid/PortalAndroidApp/commits?path=app/release/app-release.apk&page=1&per_page=1');
        const dataa = await response.json();
        const versionResponse = await fetch('https://api.mbktechstudio.com/api/poratlAppVersion');
        const versionData = await versionResponse.json();
        const version = versionData.VersionNumber;
        const lastUpdate = "Android +99.7%<br>Latest Version: " + version + "<br>Last Updated: " + new Date(dataa[0].commit.committer.date).toLocaleDateString() + " " + new Date(dataa[0].commit.committer.date).toLocaleTimeString('en-US', {
          hour: '2-digit',
          minute: '2-digit',
          hour12: true
        });
        document.getElementById('last-update').innerHTML = ` ${lastUpdate}`;
      } catch (error) {
        console.error('Error fetching last update info:', error);
      }
    }

    fetchLastUpdate();

    function OpenLink(link) {
      window.open(link);
    }

    function DownloadLink() {
      link = 'https://raw.githubusercontent.com/MIbnEKhalid/PortalAndroidApp/refs/heads/master/app/release/app-release.apk';
      window.open(link);
    }
  </script>
  <%- include('../../templates/footer.ejs') %>

</body>

</html>