<!DOCTYPE html>

<html lang="en" dir="ltr">
{{> header }}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="At MBK Tech Studio, We're A Team Of Passionate Tech Innovators">
  <meta name="keywords" content="MBK Tech Studio, Open-Source, Software Development, Technology Solutions">
  <meta property="og:title" content="Home | MBK Tech STudio" />
  <meta property="og:description" content="At MBK Tech Studio, We're A Team Of Passionate Tech Innovators" />
  <meta property="og:image" content="https://www.mbktechstudio.com/Assets/Images/Icon/logo.png" />
  <meta property="og:url" content="https://mbktechstudio.com/">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "MBK Tech Studio",
      "url": "https://mbktechstudio.com/",
      "logo": "https://www.mbktechstudio.com/Assets/Images/Icon/logo.png",
      "description": "MBK Tech Studio: Empowering Technology Through Innovation. Explore our projects, services, and passion for cutting-edge solutions."
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>MBK Tech Studio | Open-Source and Innovation</title>
</head>

<style> 

  section form .button button {
    font-size: 20px;
    padding: 7px 16px;
  }

  .collaborators {
     padding: 40px 0;
  } 

  .collaborator-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1100px;
    width: 100%;
    padding: 0 20px;
  }

  .collaborator-card {
    background: #222;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .collaborator-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  .icon img{
    width: 40px;
    height: 40px;
  }
</style>

<!-- Ask For Cookie Consent-->
<div id="cookie"></div>

<body>

  <!-- Move to up button -->
  <div class="scroll-button">
    <a href="#about"><i class="fas fa-arrow-up"></i></a>
  </div>

  <aside class="sidebar sidebar-collapsed" id="sidebar">
    <div class="sidebar-toggle" id="sidebar-toggle">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="sidebar-content">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#technologies">Technologies</a></li>
        <li><a href="#services">Useful Links</a></li>
        <li><a href="#collaborators">Collaborators</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </div>
  </aside>
  <script>
    const sidebar = document.getElementById("sidebar");
    const toggleButton = document.getElementById("sidebar-toggle");
    const toggleIcon = toggleButton.querySelector("i");

    toggleButton.addEventListener("click", () => {
      sidebar.classList.toggle("sidebar-collapsed");

      if (sidebar.classList.contains("sidebar-collapsed")) {
        toggleIcon.classList.remove("fa-chevron-right");
        toggleIcon.classList.add("fa-chevron-left");
      } else {
        toggleIcon.classList.remove("fa-chevron-left");
        toggleIcon.classList.add("fa-chevron-right");
      }
    });
  </script>

  <!-- About Section Start -->
  <section class="about" id="about">
    <div class="content" style="margin: 0px auto;">
      <div class="title"><span>Welcome To MBK Tech Studio</span></div>
      <div class="about-details">
        <!--
          <div class="left">
           <img src="Assets/Images/about9.jpg" alt=""/>
          </div> 
          -->
        <div class="center">
          <div class="topic">About Us:</div>
          <p>
            MBK Tech Studio, Founded By <a class="links" href="https://github.com/MIbnEKhalid">Muhammad Bin
              Khalid</a>, Is A Collaborative Development Studio Focusing
            On Open-Source Contributions And Innovative Technology Solutions. We Empower Creators And
            Problem-Solvers Through Software Development Services And Hardware Projects, With An Emphasis On
            Community-Driven Initiatives. Our Goal Is To Create Impactful Digital And Hardware Solutions
            That Benefit The Global Tech Community, Fostering Growth, Collaboration, And The Advancement Of
            Open-Source Technologies.
          </p>
          <div class="topic">Connect With Us:</div>
          <p>
            Ready to be part of the movement? Connect with us on <a class="links" href="https://mbktechstudio.com/#ssmedia">Social Media</a>, send us an <a class="links" title="Email us at support@mbktechstudio.com" href="mailto:support@mbktechstudio.com">email</a>, or
            visit our <a class="links newtab" href="https://mbktechstudio.com/Support">Support & Contact Page</a> to fill out
            the contact form. We'd love to hear from you!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="technologies" id="technologies" style="padding-top: 10px !important;">
    <div class="content">
      <div class="title"><span>Technologies We Use</span></div>
      <div class="technology-container">
        <div class="technology-grid">
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=html" alt="html" >
            <h2>HTML5</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=css" alt="css" >
            <h2>CSS3</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=js" alt="js" >
            <h2>JavaScript</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=nodejs" alt="nodejs" >
            <h2>Node.js</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=postgres" alt="Postgres" >
            <h2>Postgres</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=python" alt="python" >
            <h2>Python</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=react" alt="react.js" >
            <h2>React.js</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=github" alt="github" >
            <h2>GitHub</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=aws" alt="aws" >
            <h2>AWS</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=vercel" alt="Vercel" >
            <h2>Vercel</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=linux" alt="linux" >
            <h2>Linux</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=cpp" alt="c++" >
            <h2>C++</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=cs" alt="c#" >
            <h2>C#</h2>
          </div>
          <div class="technology-card">
            <img src="https://skillicons.dev/icons?i=unity" alt="unity" >
            <h2>Unity</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- My Services Section Start -->
  <section class="services" id="services" style="padding-top: 10px !important;">
    <div class="content">
      <div class="title"><span>Useful Links</span></div>
      <div class="Servicecontainer">
        <div class="Servicegrid">
          <a href="https://privacy.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h2>Privacy Policy</h2>
            <p>Access the privacy policies and legal notices for our services.</p>
          </a>
          <a href="https://docs.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-book"></i></div>
            <h2>Projects & Documentations</h2>
            <p>Explore technical and user documentation for projects and services.</p>
          </a>
          <a href="https://blog.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-blog"></i></div>
            <h2>Blog</h2>
            <p>Read our latest articles, updates, and insights.</p>
          </a>
          <a href="https://portal.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-door-open"></i></div>
            <h2>Web Portal</h2>
            <p>Centralized portal for private use or team members only.</p>
          </a>
          <a href="https://portfolio.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-briefcase"></i></div>
            <h2>Portfolio</h2>
            <p>Showcasing professional projects and personal achievements of our team.</p>
          </a>
          <a href="https://unilib.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-university"></i></div>
            <h2>Unilib</h2>
            <p>Resource hub for course materials, quizzes, and assignments.</p>
          </a>
          <a href="https://api.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-code"></i></div>
            <h2>API Services</h2>
            <p>Explore and interact with our APIs for integration and development.</p>
          </a>
          <a href="https://download.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-download"></i></div>
            <h2>Download Apps</h2>
            <p>Download our latest apps for seamless integration and enhanced productivity.</p>
          </a> 
          <a href="https://events.mbktechstudio.com" target="_blank" class="links Servicecard">
            <div class="icon"><i class="fas fa-calendar-alt"></i></div>
            <h2>Events</h2>
            <p>Stay updated with our upcoming events, webinars, and workshops.</p>
          </a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 30px;"> </div>
  </section>

  <!-- Collaborators Section Start -->
  <section class="collaborators" id="collaborators" style="padding-top: 10px !important;">
    <div class="content">
      <div class="title"><span>Our Collaborators</span></div>
      <div class="Servicecontainer">
        <div class="Servicegrid">
          <a href="https://m-dev-theta.vercel.app/" target="_blank" class="links Servicecard">
            <div class="icon"><img src="/Assets/Images/Icon/M-Dev.png" alt="MBK Tech Studio" /></div>
            <h2>Maaz Dev</h2>
            <p>Maaz Dev is our partner specializing in AI and Data Science, contributing significantly to our Python and other projects.</p>
          </a> 
        </div>
      </div>
    </div>
  </section>
  <!-- Collaborators Section End -->

  <section class="contact" id="contact" style="padding-top: 0px !important;">
    <div class="content" style="max-width: 800px; margin: 0 auto; text-align: center;">
      <div class="title">
        <span>Contact Us</span>
      </div>
      <div class="text">
        <div class="topic">
          <h3>Have a Project in Mind?</h3>
        </div>
        <p>
          We’re thrilled to collaborate with talented individuals and entities! Whether you have a project idea or
          need support, here’s how you can reach out to us:
        </p>
        <div style="text-align: left; margin: 20px auto; padding: 15px; border: solid .1rem var(--main-border-color); background: transparent; border-radius: 10px;">
          <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 15px; font-size: 1rem; color: #ccc;">
              <strong>1.</strong> Visit our
              <a class="links newtab" href="Support/" style="color: #4dabf7; text-decoration: none;">Support &amp;
                Contact Page</a>
              to fill out the contact form.
            </li>
            <li style="margin-bottom: 15px; font-size: 1rem; color: #ccc;">
              <strong>2.</strong> Send an email directly to
              <a class="links" href="mailto:support@mbktechstudio.com" style="color: #4dabf7; text-decoration: none;">support@mbktechstudio.com</a>.
            </li>
            <li style="font-size: 1rem; color: #ccc;">
              <strong>3.</strong> Connect with us on Social Media.
            </li>
          </ul>
        </div>
      </div>
      <div class="ssmedis" id="ssmedia"><a href="https://instagram.com/mbktechstudio" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a><a href="https://www.facebook.com/people/MBK-Tech-Studio/61559079077988/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/muhammad-bin-khalid-89711b25b" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a><a href="https://x.com/ibnekhalid28" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="https://github.com/MIbnEKhalid" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a><a href="https://youtube.com/@mibnekhalid" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a><a href="https://discord.gg/" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a><a href="https://signal.me/#eu/0Bxn3qmtp8gtYNuy6eJ_F3WaHWHrQW3uefaC2y01VCWtduFQCwJHvIFL6N4VOtsv" target="_blank"><i class="fa-brands fa-signal-messenger" aria-hidden="true"></i></a></div>
    </div>
  </section>

</body>

    {{> footer }}


<script src="/Assets/Scripts/cookie.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const headerHeight = document.querySelector('header').offsetHeight;
    document.querySelectorAll('aside a').forEach(anchor => {
      anchor.addEventListener('click', function(e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
          const targetPosition = targetElement.offsetTop - headerHeight - 28; // Adjust 10px as needed
          window.scrollTo({
            top: targetPosition,
            behavior: 'smooth'
          });
        }
      });
    });
  });
</script>

</html>