<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> header path=(conditionalEnv "/" "https://mbktechstudio.com/")}}
<head>
  <meta name="description" content="Read the Terms & Conditions for portal.mbktechstudio.com to understand the rules, policies, and guidelines for
  using our services securely and responsibly.">
  <meta name="keywords" content="MBK Tech Studio, Web-Portal, Terms & Conditions, Privacy Policy, User Agreement" />
  <title>Privacy Policy</title>
  <meta http-equiv="refresh" content="0; URL=https://mbktechstudio.com/Terms&Conditions">
  <link rel="stylesheet" href="/Assets/Style/404.css">
  <link rel="stylesheet" href="/Assets/Style/style.css">
</head>

<body>
  <section class="about" id="about">
    <div class="content">
      <div class="emojji">
        <img class="catfix" height="120px" width="140px" src="/Assets/Images/catfixing.png">
        <img class="server1" height="120px" width="140px" src="/Assets/Images/server.png">
        <img class="server2" height="120px" width="140px" src="/Assets/Images/server.png">
        <img class="server3" height="120px" width="140px" src="/Assets/Images/server.png">
      </div>
      <div class="title">
        <span>Page Redirected
        </span>
      </div>
      <p style="text-align: center;">
        If you are not redirected automatically, follow this link: <a class="links" style="word-break: break-all;" href="https://mbktechstudio.com/Terms&Conditions">mbktechstudio.com/Terms&Conditions</a>.
      </p>
    </div>
  </section>
</body>

    {{> footer }}

</html>